<p style="margin: 0%; padding: 0%;">
  <mat-toolbar color="primary" class="mat-elevation-z4" style="position: sticky; top: 0;">
    <span class="pointer" routerLinkActive="active" [routerLink]="['/home']">Flags Police 👮‍♂️</span>
    <span class="example-spacer"></span>
      <button *ngIf="message" (click)="sendInfo()" mat-stroked-button style="border-color: white;" color="white">Send flags to {{message}} channel</button>
      <!-- The below is work in progress. Once completed, it will be released -->
      <!-- <button routerLinkActive="active" [routerLink]="['/flags']" mat-icon-button matTooltip="warn" color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>flag</mat-icon>
      </button> -->
      <button routerLinkActive="active" [routerLink]="['/config']" mat-icon-button matTooltip="accent" color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button (click)="clear()" mat-stroked-button style="border-color: white;" color="white">Clear cache
        <mat-icon>delete</mat-icon></button>
  </mat-toolbar>
</p>
